@page "/DriversTest"

<PageTitle>DriversTest</PageTitle>

<h1>Counter</h1>

<div>
    <button @onclick="decrementPageNumber">previous</button><p>page @pageNumber</p><button @onclick="incrementPageNumber">next</button>
    @foreach(var q_And_a_Item in displayedPage){
        <div>
            <p>@q_And_a_Item.question</p>
            @foreach(var ans in q_And_a_Item.answers){
                <p>@ans</p>
            }
        </div>
    }
</div>

@code {
    public record Q_and_A_item(string question,List<string> answers);
    public static int currentCount = 0;
    public static int pageNumber = 1;
    public static List<List<Q_and_A_item>> Q_and_A = getPageAllContents();
    public static List<Q_and_A_item> displayedPage = DisplayPageContents();
    
    public static void incrementPageNumber()
    {
       if(pageNumber == displayedPage.Count()+1){return;}else{pageNumber = pageNumber+1;displayedPage = DisplayPageContents();}
    }
    public static void decrementPageNumber()
    {
        if(pageNumber == 0){return;}else{pageNumber= pageNumber-1;displayedPage = DisplayPageContents();}
    }
    public static List<Q_and_A_item> DisplayPageContents()
    {
        var d = Q_and_A[pageNumber-1];
        return d;
    }
    public static List<List<Q_and_A_item>> getPageAllContents()
    {
        var d = new List<List<Q_and_A_item>>();
        d.Add(
            new List<Q_and_A_item>()
            {
               new Q_and_A_item(
                "can you get a green lantern ring with the power of failure manipulatiion",
                new(){"true","false"}
               )
            }
        );
        d.Add(
            new List<Q_and_A_item>()
            {
                new("can you get a green lantern ring with the power of victory manipulatiion",new(){"true","false"})
            }
        );
        return d;
    }
}
