@page "/DriversTest";
@using System.Collections.Generic;

<PageTitle>DriversTest</PageTitle>

<h1>Counter</h1>

<div>
    <button>previous</button> <button>next</button>
</div>

@code {
    record Q_and_A_item(string question,List<string> answers);
    public int currentCount = 0;
    public static int pageNumber = 1;
    /*public static Dictionary<int,List<Q_and_A_item>> Q_and_A = new Dictionary<int,List<Q_and_A_item>>()
    {
        new List<Q_and_A_item>(){new("is batman real",new List<string>(){"true","false"})}
    };
    public List<Q_and_A_item> displayItems = get_List_of_Q_and_A(Q_and_A[pageNumber-1]);*/
    static List<Q_and_A_item> get_List_of_Q_and_A(List<Q_and_A_item> s)
    {
        return s;
    }
}
